.container--flex-row {
    display: flex;
    flex-direction: row;
}

.container--flex-column {
    display: flex;
    flex-direction: column;
}

.container--space-between {
    justify-content: space-between;
}

.container--gap {
    gap: 16px;
}

.container__aside {

}

.progressBar {
    width: 100%;
    background-color: lightgray;
}

.progressBarValue {
    width: 0;
    height: 30px;
    background-color: lawngreen;
}